allow vold persist_file:dir r_file_perms;

# Encryption
allow vold reserve4_block_device:blk_file rw_file_perms;
allow vold firmware_file:dir search;
allow vold firmware_file:file r_file_perms;
