#
#  FILE:   init.cne.rc
#
#             Copyright (c) 2012, 2013 Qualcomm Technologies, Inc.
#             All Rights Reserved.
#             Qualcomm Technologies Confidential and Proprietary
#

#Export the following LD_PRELOAD when enabling vendor CnE.

    export LD_PRELOAD /vendor/lib/libNimsWrap.so
