<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cyanogenmod.settings.doze"
    android:versionCode="1"
    android:versionName="1.0"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="cyanogenmod.permission.MANAGE_REMOTE_PREFERENCES" />

    <uses-sdk
        android:minSdkVersion="24"
        android:targetSdkVersion="24"/>

    <application
        android:label="@string/device_settings_app_name"
        android:persistent="true">

        <receiver android:name="com.cyanogenmod.settings.doze.DozeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="cyanogenmod.intent.action.UPDATE_PREFERENCE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service android:name="com.cyanogenmod.settings.doze.DozeService"
                 android:permission="OneplusDozeService">
        </service>

        <activity
            android:name=".DozeSettings"
            android:label="@string/ambient_display_title"
            android:theme="@style/DozeSettings">
            <intent-filter>
                <action android:name="org.cyanogenmod.settings.device.DOZE_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="org.cyanogenmod.settings.summary.receiver"
                android:value="com.cyanogenmod.settings.doze.DozeReceiver" />
            <meta-data
                android:name="org.cyanogenmod.settings.summary.key"
                android:value="doze_device_settings" />
        </activity>

    </application>
</manifest>
